button {
	background-color: #009900; /*green*/
	color: white;
}

p {
	font-family: verdana;
	text-align: center;
	font-size: 20px;
	
	background-color: lightgray; 
}

#Ctrl_123 {
	color: blue;
}

.class_456 {
	color: yellow;
}