button {
	background-color: #009900; /*green*/
	color: white;
}

/*
#Ctrl_123 {
	color: blue;
}
*/

.instruction {
	font-family: verdana;
	text-align: center;
	font-size: 20px;
	
	border: 2px solid orange;
	border-radius: 10px;
	
	background-color: lightgray; 
}

.answer
{
	background-color: yellow; 
}

.workarea {
	margin-left: 10%;
	margin-right: 10%;
}