button {
	background-color: #009900; /*green*/
	color: white;
}

/*
#Ctrl_123 {
	color: blue;
}
*/

.instruction {
	font-family: verdana;
	text-align: center; /*justify;*/
	font-size: 1.4em;
	
	border: 2px solid orange;
	border-radius: 10px;
	
	background-color: lightgray; 
}

.answer
{
	background-color: #ffffcc; 
	
}
.answer_btn
{
	background-color: darkgray; 
	color: white;
}


.workarea {
	margin-left: 10%;
	margin-right: 10%;
	
	margin-top: 20px;
	margin-bottom: 20px;
	
	
}

.pg_footer {
	background-color: orange;
	position: fixed;
	bottom:0;

	margin-left: 10%;
	margin-right: 10%;
	width: 80%;
}
.pg_header {
	background-color: orange;
	position: fixed;
	top:0;

	margin-left: 10%;
	margin-right: 10%;
	width: 80%;
}