<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script> -->

<body>

<div ng-app="myApp" ng-controller="myCtrl">
	
	<div ng-show="instruction_vis">
		INSTRUCTION
	</div>
	
	<div ng-show="item_vis" style="background-color:lightblue">
		ITEM
		<p ng-bind="items[ci_index].text"></p>
		<!-- {{ '('+ items[ci_index].id + ') ' + items[ci_index].text }} -->
	</div>
	<!-- одиночн.выбор (radio) -->
	<div ng-show="items[ci_index].dim.type == 1 && items[ci_index].dim.mode == 2" style="background-color:lightgreen">
		<label ng-repeat="x in items[ci_index].dim.subscl">
			<input type='radio' data-ng-model="items[ci_index].dim.sel" data-ng-value="x.id"/>
			{{x.txt}}
		</label>
	</div>
	<!-- одиночн.выбор (button) -->
	<div ng-show="items[ci_index].dim.type == 1 && items[ci_index].dim.mode != 2" style="background-color:lightgreen">
		<div ng-repeat="x in items[ci_index].dim.subscl">
			<button ng-click="btnClickFun(x.id)">
				{{x.txt}}
			</button>
		</div>
	</div>	
	<!-- множ.выбор или сотрудники -->
	<div ng-show="items[ci_index].dim.type == 2 || items[ci_index].dim.type == 13" style="background-color:lightgray">
		<label ng-repeat="x in items[ci_index].dim.subscl">
			<input type='checkbox' data-ng-model="x.val" data-ng-checked="x.val"/>
			{{x.txt}}
		</label>
	</div>
	<!-- открытй -->
	<div ng-show="items[ci_index].dim.type == 3" style="background-color:lightgray">
		<input type="text" data-ng-model="items[ci_index].dim.sel"/>
	</div>

	<p ng-show="!(items[ci_index].dim.type == 1 && items[ci_index].dim.mode == 1)">
		<button ng-click="ci_index = ci_index - 1" >prior</button>
		<button ng-click="ci_index = ci_index + 1">next</button>
	</p>
	<hr/>
	<button ng-click="myFinFun()">FIN</button>
</div>

<script src="myApp.js"></script>


<script>
	$(document).ready(function(){
		$("button_").click(function(){
			
			/*
			var mainInfo = null;
			$http.get('data/my_data.json').success(function(data) {
				mainInfo = data;
			});*/
			
			/*var text = '{ "items" : [' +
'{ "qst":"John" , "lastName":"Doe" },' +
'{ "qst":"Anna" , "lastName":"Smith" },' +
'{ "qst":"Peter" , "lastName":"Jones" } ]}';

			var obj = JSON.parse(text);*/
			
		});
	});
</script>


</body>
</html>